// Main Colors
$red: #c90025;
$rosa: #e76685;
$blue: #003e65;
$gray: #466675;
$brown: #470517;
$background-color: #ffffff;

// Matte Pallete
$red-matte: #dc8580;
$yellow-matte: #f2e6b1;
$gree-matte: #95dab6;
$blue-matte: #83b2d0;
$purple-matte: #7f87b2;
