#title-row-jobs {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  align-items: baseline;
  border-bottom: solid 0.3px gray;
  font-style: italic;
  #fifty-width-col {
    width: 40%;
  }
  .title-field-jobs {
    width: 25%;
  }
  .datum-col-jobs {
    width: 10%;
  }
}

.listing-jobs {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  border-bottom: solid 0.3px gray;
  align-items: center;
  .stuck-col-jobs {
    width: 40%;
    font-size: 1.9rem;
    font-family: $logo-font-light;
  }
  .jobs-same-class {
    width: 25%;
  }
  .datum-col-jobs {
    width: fit-content;
    width: 10%;
  }
}

@media (max-width: 800px) {
  #title-row-jobs {
    display: none;
  }
  .listing-jobs {
    flex-direction: column;
    .jobs-same-class,
    .stuck-col-jobs {
      width: 100%;
    }
    .datum-col-jobs {
      font-size: 1.3rem;
    }
    .role-col-jobs::before {
      content: "Role";
      border: solid 0.5px;
      border-radius: 20px;
      padding: 2px 10px;
      margin-right: 5px;
    }
    .spielort-col-jobs::before {
      content: "Spielort";
      border: solid 0.5px;
      border-radius: 20px;
      padding: 2px 10px;
      margin-right: 5px;
    }
  }
}
