// FILTERING JOBS BY CATEGORY
.display-none {
  display: none;
}
.display-list {
  display: contents;
}

.jobs-card {
  margin-bottom: 50px;
}

.listing-jobs {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  border-bottom: solid 0.3px gray;
  align-items: center;
  padding: 5px 0;
  .stuck-col-jobs {
    width: 40%;
    font-size: 1.9rem;
    font-family: $logo-font-light;
  }
  .jobs-same-class {
    width: 25%;
  }
  .datum-col-jobs {
    width: fit-content;
    width: 10%;
  }
}

@media (max-width: 800px) {
  #title-row-jobs {
    display: none;
  }
  .listing-jobs {
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: solid 0.3px gray;
    .no-show-mobile {
      display: none;
    }
    .stuck-col-jobs,
    .role-col-jobs {
      width: 100%;
      text-align: center;
    }
    .role-col-jobs {
      margin: 10px 0;
      &::before {
        content: "Role:";
        margin-right: 5px;
      }
    }
    .datum-col-jobs,
    .spielort-col-jobs {
      margin: 0 auto;
      width: fit-content;
      padding: 0 10px;
      text-align: center;
      border: solid 0.5px gray;
      border-radius: 20px;
    }
  }
}
