#main-box-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  margin-top: 70px;
  align-items: center;
  #profile-list {
    display: flex;
    font-family: $logo-font-dark;
    line-height: 60px;
    color: white;
    font-size: 5rem;
    mix-blend-mode: difference;
    margin-top: 20px;
  }
  #greeting-home {
    font-family: $logo-font-light;
    width: 80%;
    color: white;
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 300;
    span {
      text-decoration: underline orange 2px;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 800px) {
  #main-box-home {
    justify-content: space-between;
    height: calc(100vh - 70px);
    #profile-list {
      width: 100%;
      font-size: 2.5rem;
      font-family: $logo-font-dark;
      line-height: 30px;
      padding: 10px 0 0 10px;
    }
    #greeting-home {
      text-align: center;
      width: 90%;
      align-self: center;
      padding: 0;
      font-size: 1.1rem;
      margin-bottom: 50px;
      padding: 0 10px;
      line-height: 1;
    }
  }
}
