#main-box-home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 100%;
  // CENTER
  margin: 0 auto;
  #main-foto-desktop {
    width: 100%;
    height: 85%;
    object-fit: cover;
    align-self: center;
  }
  #profile-list {
    position: absolute;
    display: flex;
    font-family: $logo-font-light;
    line-height: 60px;
    color: white;
    font-size: 4rem;
    mix-blend-mode: difference;
    padding: 20px 0 0 20px;
  }
  #greeting-home {
    line-height: 1;
    color: white;
    mix-blend-mode: difference;
    text-align: right;
    padding: 0 20px;
    #guten-tag {
      position: relative;
      font-family: $logo-font-light;
      font-weight: bolder;
      right: 0;
      top: 0;
      width: 100%;
      display: inline-block;
      font-size: 2rem;
    }
  }
}

@media (max-width: 800px) {
  #main-box-home {
    height: calc(100vh - 70px);
    width: 100%;
    #profile-list {
      font-size: 3.5rem;
    }
    #main-foto-desktop {
      height: 100%;
    }
    #greeting-home {
      position: absolute;
      bottom: 0;
    }
  }
}
