#main-box-home {
  height: calc(100vh - 70px);
  width: 100%;
  margin: 0 auto;
  #profile-list {
    position: absolute;
    display: flex;
    font-family: $logo-font-dark;
    line-height: 60px;
    color: white;
    font-size: 4rem;
    mix-blend-mode: difference;
    padding: 20px 0 0 20px;
  }
  #greeting-home {
    position: absolute;
    bottom: 10px;
    line-height: 1;
    color: white;
    mix-blend-mode: difference;
    padding: 0 20px;
    #guten-tag {
      font-family: $logo-font-light;
      width: 100%;
      display: inline-block;
      font-size: 2rem;
    }
  }
}

@media (max-width: 800px) {
  #main-box-home {
    height: calc(100vh - 70px);
    width: 100%;
    #profile-list {
      font-size: 3rem;
    }
    #greeting-home {
      position: absolute;
      bottom: 0;
    }
  }
}
