#kontakt-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(97vh - 70px);
  width: 95vw;
  #contact-me-bttn {
    width: 95vw;
    overflow: hidden;
    text-decoration: none;
    border-bottom: solid 1px;
    p {
      color: black;
      font-family: $logo-font-light;
      font-size: 3.5rem;
      white-space: nowrap;
      margin: 0 0 0 10px;
      #mail-icon {
        position: relative;
        bottom: 5px;
        svg {
          transform: rotate(340deg);
          stroke: #000000;
          stroke-width: 1;
        }
      }
    }
    &:hover {
      background-color: $blue;
      p {
        color: white;
        #mail-icon {
          svg {
            stroke: white;
          }
        }
      }
    }
  }
  #icons-kontakt {
    margin: 10px 0;
    .icon-kontakt {
      margin: 0 10px;
    }
  }
  #link-box-bottom {
    display: none;
    position: absolute;
    bottom: 0;
  }
}

// SVG ELEMENT FOR MAIL-BUTTON
#round-mail {
  animation: rotate 20s linear infinite, rotateIn;
  .bg-lines {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 65.3571, 65.3571;
  }
  #mail-round-path {
    fill: $orange;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  #round-text {
    font-size: 75px;
    font-family: $logo-font-light;
  }
}

@media (max-width: 800px) {
  #kontakt-container {
    #contact-me-bttn {
      p {
        font-size: 2.3rem;
      }
    }
  }
}
