.kontakt-container {
  display: flex;
  align-items: flex-end;
  #kontack-foto {
    height: 85vh;
    border-radius: 50px;
  }
  #kontakt-link-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    margin-left: 50px;
    .link-1 {
      text-decoration: none;
      font-size: 2rem;
      width: fit-content;
      padding: 10px 20px;
      border: solid $blue 0.5px;
      border-radius: 40px;
      margin: 10px 0;
      &:hover {
        text-decoration: underline solid 2px;
      }
    }
  }
}
