#kontakt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  #kontakt-foto-container {
    width: 90vw;
    height: calc(85vh - 70px);
    object-fit: cover;
  }
  #link-kontakt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    #kontakt-me-bttn {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 3rem;
      font-family: $logo-font-light;
      .icon-kontakt {
        width: 50px;
      }
    }
    #icons-kontakt {
      margin: 10px 0;
      a {
        margin: 0 10px;
        text-decoration: none;
        .icon-kontakt {
          width: 50px;
        }
      }
    }
  }
  #link-box-bottom {
    display: none;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 800px) {
  #kontakt-container {
    justify-content: flex-end;
    #link-kontakt-container {
      svg {
        width: 30px;
      }
      #kontakt-me-bttn {
        font-size: 1.8rem;
        .icon-kontakt {
          width: 30px;
        }
      }
      #icons-kontakt {
        a {
          .icon-kontakt {
            width: 30px;
          }
        }
      }
    }
  }
}
