* {
  font-family: $body;
  a {
    // AVOID LINK'S DECORATION
    text-decoration: none;
    color: black;
  }
}

body {
  display: flex;
  justify-content: center;
}

.box {
  position: absolute;
  margin: 80px auto 0 auto;
  width: 95%;
}
