.info-cards-container {
  display: grid;
  justify-content: center;
  .info-box {
    position: relative;
    border: solid 0.5px $blue;
    padding: 1rem;
    border-radius: 40px;
    width: 70vw;
    margin-bottom: 20px;
    h1 {
      font-size: 3.5rem;
      padding: 0 4rem;
      text-align: center;
      font-family: $logo-font-light;
      border-bottom: solid 0.5px $blue;
    }
    .angaben-cols {
      display: flex;
      padding: 20px 60px;
      column-gap: 50px;
      .steckbrief-bullet {
        border-bottom: dashed 0.5px $blue;
        margin-bottom: 2px;
      }
      .angaben-col-left,
      .angaben-col-right {
        width: 50%;
        .angaben-section {
          margin-bottom: 15px;
          .title-steckbrief {
            font-weight: bolder;
          }
        }
      }
      .angaben-col-left {
        text-align: right;
      }
      p {
        margin: 0;
      }
    }
    .sun-icon-steckbrief {
      position: absolute;
      width: 80px;
      overflow: hidden;
      bottom: 10px;
    }
    .right-sun-icon {
      right: 10px;
    }
  }
  .info-box-top {
    &::before {
      content: "";
      position: absolute;
      border-left: solid 0.5px $blue;
      left: 50%;
      top: 20%;
      height: 422px;
    }
  }
}

@media (max-width: 800px) {
  .info-cards-container {
    .info-box {
      width: 95vw;
      h1 {
        font-size: 2.5rem;
      }
      .sun-icon-steckbrief {
        width: 50px;
      }
      .angaben-cols {
        padding: 0;
        column-gap: 20px;
        font-size: 0.9rem;
      }
    }
  }
}
