<div id="menu-list" class="animate__animated animate__slideInDown" hidden>
  <%# CLOSIN BUTTON %>
  <div class="close-bttn-dropdown" data-action="click->dropdown#hideMenu">X</div>

  <%# DROPDOWN MENU LIST %>
  <%= link_to "Work", work_path, class: 'link-menu-dropdown' %>
  <%= link_to "Steckbrief", steckbrief_path, class: 'link-menu-dropdown' %>
  <%= link_to "Kontakt", kontakt_path, class: 'link-menu-dropdown' %>

  <%# SUN BOTTOM ANIMATION %>
  <%= cl_image_tag("rolf_sommer/sun-gradient_vn8shb.png", class: 'sun-dropdown animate__animated animate__slideInUp') %>
</div>
