<div class="jobs-filter" data-controller="filter">
  <section class="job-button-filter">
    <button data-action="click->filter#showAll">Alles</button>
    <button data-action="click->filter#showActor">Schauspieler</button>
    <button data-action="click->filter#showDirector">Regissuer</button>
    <button data-action="click->filter#showTexter">Texter</button>
  </section>

  <div class="kommende-card">
    <div id="actor-row">
      <%= render 'shared/actor-list' %>
    </div>
    <div id="director-row">
      <%= render 'shared/director-list' %>
    </div>
    <div id="texter-row">
      <%= render 'shared/texter-list' %>
    </div>
  </div>
</div>
