<div class="jobs-filter" data-controller="filter border">
  <section class="job-button-filter">
    <button id="btn-all" class="btn-border-off" data-action="click->filter#showAll click->border#all" data-border-target="button">Alles</button>
    <button id="btn-actor" class="btn-border-off" data-action="click->filter#showActor click->border#actor" data-border-target="button">Schauspieler</button>
    <button id="btn-director" class="btn-border-off" data-action="click->filter#showDirector click->border#director" data-border-target="button">Regissuer</button>
    <button id="btn-texter" class="btn-border-off" data-action="click->filter#showTexter click->border#texter" data-border-target="button">Texter</button>
  </section>

  <div class="kommende-card">
    <div id="title-row-jobs">
      <p id="fifty-width-col" class="title-field-jobs stuck-col-jobs">Stück</p>
      <p class="title-field-jobs role-col-jobs">Role</p>
      <p class="title-field-jobs spielort-col-jobs">Spielort</p>
      <p class="datum-col-jobs">Datum</p>
    </div>
    <%# Rendering the list of gigs with their filtering buttons %>
    <%= render 'shared/gigs-list' %>
  </div>
</div>
