<%# I18n TRANSLATES THE DATES TO GERMAN %>
<% I18n.with_locale(:de) do %>
  <div class="kommende-card">
    <% @gig.where(premiered: false).each do |g| %>
      <section class="gigs-row">
        <div class="datum-col commom-col-kommende"><%= l(g.start_date, format: '%d. %b. %Y') || "" %></div>
        <div class="spielort-col commom-col-kommende"><%= g.location || "" %></div>
        <div class="stuck-col piece-title"><%= g.piece %></div>
        <%= embedded_svg(sticker_srt(g), class: 'sticker') %>
      </section>
    <% end %>
  </div>
<% end %>
