<div class="nav-bar">
  <h1>
  <%# WHEN ON HOME PAGE, DON'T SHOW LOGO %>
    <% if !current_page?(action: 'home') %>
      <%= link_to 'Rolf Sommer', root_path, class: "logo" %>
    <% end %>
  </h1>

  <div class="main-menu" data-controller="magnetic-elements">
    <%= link_to work_path, class: current_class?(work_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Work</button>
    <% end %>
    <%= link_to steckbrief_path, class: current_class?(steckbrief_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Steckbrief</button>
    <% end %>
    <%= link_to kontakt_path, class: current_class?(kontakt_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Kontakt</button>
    <% end %>
  </div>
</div>
