<footer class="sticker-guide-footer">
  <span><%= image_tag("actor-sticker.png") %></span>
  <p class="sticker-text">Schauspieler&nbsp;	&nbsp;</p>
  <span><%= image_tag("director-sticker.png") %></span>
  <p class="sticker-text">Regisseur&nbsp;&nbsp;</p>
  <span><%= image_tag("texter-sticker.png") %></span>
  <p class="sticker-text">Texter</p>
</footer>
