<footer class="sticker-guide-footer">
  <span><%= image_tag("svg/star_neu_s.svg") %></span>
  <p class="sticker-text">Schauspieler&nbsp;	&nbsp;</p>
  <span><%= image_tag("svg/star_neu_r.svg") %></span>
  <p class="sticker-text">Regisseur&nbsp;&nbsp;</p>
  <span><%= image_tag("svg/star_neu_t.svg") %></span>
  <p class="sticker-text">Texter</p>
</footer>
