<% @gig.where(texter: true, premiered: true).each do |g| %>
  <ul class="gigs-row">
    <li class="stuck-col piece-title texter-sticker"><%= g.piece %></li>
    <li class="role-col"><%= g.role %></li>
    <li class="spielort-col"><%= g.location %></li>
    <%# Start date shows only if date is true otherwise crashes %>
    <% if g.start_date %>
      <li class="datum-col"><%= g.start_date.strftime("%d %m %y") %></li>
    <% end %>
  </ul>
<% end %>
