<section class="stickers-row">
  <span><%= cl_image_tag("rolf_sommer/star_neu_s_kdx5uw.svg") %></span>
  <p class="sticker-text">Schauspieler&nbsp;	&nbsp;</p>
  <span><%= cl_image_tag("rolf_sommer/star_neu_r_igcrfo.svg") %></span>
  <p class="sticker-text">Regisseur&nbsp;&nbsp;</p>
  <span><%= cl_image_tag("rolf_sommer/star_neu_t_ctanq7.svg") %></span>
  <p class="sticker-text">Texter</p>
</section>
