<% if current_page?(action: 'work') %>
  <section id="vertical-btn">
    <section class="stickers-row">
      <div class="sticker-1 schauspieler-sticker">Schauspieler</div>
      <div class="sticker-1 director-sticker">Regisseur</div>
      <div class="sticker-1 texter-sticker">Texter</div>
    </section>
  </section>
<% end %>
