<section class="stickers-row">
  <%= cl_image_tag("rolf_sommer/star_neu_s_kdx5uw.svg") %>
  <p class="sticker-text">Schauspieler&nbsp;	&nbsp;</p>
  <%= cl_image_tag("rolf_sommer/star_neu_r_igcrfo.svg") %>
  <p class="sticker-text">Regisseur&nbsp;&nbsp;</p>
  <%= cl_image_tag("rolf_sommer/star_neu_t_ctanq7.svg") %>
  <p class="sticker-text">Texter</p>
</section>
