<div class="tilt-effect-box position-absolute top-50 start-50 translate-middle" data-controller="vanilla-tilt" data-action="mouseover->vanilla-tilt#tilt">
  <div class="main-box-home" data-tilt data-tilt-max="2" data-tilt-speed="400" data-tilt-perspective="500" >
    <div class="main-foto">
      <%= image_tag("main-foto.jpg", class: "inside-foto") %>
    </div>
    <section class="text-box-home">
      <p class="main-title">Rolf Sommer</p>
      <div class="work-link-button">
        <p>SCHAUSPIELER</p>
        <p>REGISSEUR</p>
      </div>
    </section>
  </div>
</div>
