<div class="tilt-effect-box position-absolute top-50 start-50 translate-middle" data-controller="vanilla-tilt" data-action="mouseover->vanilla-tilt#tilt">
  <div class="main-box-home js-tilt" data-tilt data-tilt-max="2" data-tilt-speed="400" data-tilt-perspective="500" >
    <%= cl_image_tag("rolf_sommer/qhpewywomcjwojevxg6n", class: 'inside-foto')%>
    <section class="text-box-home">
      <div class="profile-list">
        <p>Schauspieler</p>
        <p>Regisseur</p>
      </div>
      <p class="main-title">Rolf Sommer</p>
    </section>
  </div>
</div>
