<div class="box">
  <div id="main-box-home">
    <p id="profile-list">Schauspieler, <br>Regisseur</p>
    <%= cl_image_tag("rolf_sommer/qhpewywomcjwojevxg6n", id: 'main-foto-desktop')%>
    <p id="greeting-home">
      <span id="guten-tag">Guten Tag!</span>
      Seit bald zwanzig Jahren bewege ich mich unentwegt als Schauspieler und Regisseur durch die Schweizer Theater- und Musicallandschaft – mit einigen Abstechern auch nach Deutschland. Ausserdem schreibe und übersetze ich Theater- und Liedtexte. Ich lebe in Zürich, bin aber viel unterwegs, vor allem auch im Kanton Uri, wo ich aufgewachsen bin. Ich freue mich darauf, Sie kennenzulernen!
    </p>
  </div>
</div>
