<section class="box">
  <section class="info-cards-container">
    <div class="info-box info-box-top">
      <%= cl_image_tag("rolf_sommer/sun_icon_qzn60f", class: "sun-icon-steckbrief") %>
      <h1>Angaben zu meiner Person</h1>
      <div class="angaben-cols">
        <section class="angaben-col-left">
          <div class="angaben-section">
            <p class="title-steckbrief">Geboren am:</p>
            <p class="content-steckbrief">16. November 1976 in Altdorf (UR), Schweiz</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Nationalität:</p>
            <p class="content-steckbrief">Schweizer</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Wohnort:</p>
            <p class="content-steckbrief">Zürich</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Grösse:</p>
            <p class="content-steckbrief">180 cm</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Konfektion:</p>
            <p class="content-steckbrief">52</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Schuhgrösse:</p>
            <p class="content-steckbrief">42</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Haarfarbe:</p>
            <p class="content-steckbrief">Braun</p>
          </div>
        </section>
        <section class="angaben-col-right">
          <div class="angaben-section">
            <p class="title-steckbrief">Augenfarbe:</p>
            <p class="content-steckbrief">Braun-Grün</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Stimmlage:</p>
            <p class="content-steckbrief">Hoher Bariton</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Stimmfach:</p>
            <p class="content-steckbrief">Musical, Chanson, Pop, Operette</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Sprachkenntnisse:</p>
            <p class="content-steckbrief">Deutsch (Muttersprache), Englisch (fliessend), Französisch (solide)</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">CH-Dialekte:</p>
            <p class="content-steckbrief">Urner, Zürcher</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Weitere CH-Dialekte mit Bühnenerfahrung:</p>
            <p class="content-steckbrief">Berner, Bündner, Basler</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Weitere Kenntnisse:</p>
            <p class="content-steckbrief">Klavierspielen, Volleyball, Skifahren, Rollschuhlaufen</p>
          </div>
        </section>
      </div>
    </div>
    <div class="info-box info-box-bottom">
      <%= cl_image_tag("rolf_sommer/sun_icon_qzn60f", class: "sun-icon-steckbrief right-sun-icon") %>
      <h1>Aus- und Weiterbildung</h1>
      <div class="angaben-cols">
        <section class="angaben-col-left">
          <div class="angaben-section">
            <p class="title-steckbrief">Grundausbildung:</p>
            <p class="content-steckbrief">Dreijährige Schauspiel-, Gesangs- und Tanzausbildung an der Abraxas Musical Akademie in München (Abschluss mit Auszeichnung 2005)</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Weiterbildung Schauspiel</p>
            <p class="content-steckbrief steckbrief-bullet">William Esper Studio (New York, 2014), Summer Intensive Workshop (6 Wochen «Meisner-Technik»)</p>
            <p class="content-steckbrief steckbrief-bullet">Camera Acting bei Linda und David Laundra (New York, 2014)</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Weiterbildung Gesang</p>
            <p class="content-steckbrief steckbrief-bullet">Gesangsunterricht bei Richard Lissemore (USA)</p>
            <p class="content-steckbrief steckbrief-bullet">Masterclass bei Paul Graham Brown (München)</p>
            <p class="content-steckbrief steckbrief-bullet">Masterclass bei Richard Lissemore (New York)</p>
          </div>
        </section>
        <section class="angaben-col-right">
          <div class="angaben-section">
            <p class="title-steckbrief">Weiterbildung Tanz</p>
            <p class="content-steckbrief steckbrief-bullet">Broadway Dance Center, New York (Ballet, Step, Theatre Dance)</p>
            <p class="content-steckbrief steckbrief-bullet">Offene Ballettklasse am Opernhaus Zürich</p>
            <p class="content-steckbrief steckbrief-bullet">Step-Unterricht bei Claudia Lex (München)</p>
          </div>
          <div class="angaben-section">
            <p class="title-steckbrief">Weitere Berufserfahrungen:</p>
            <p class="content-steckbrief">Kameraerfahrung (Film und Werbung), Sprecher für Radio-Werbungen, Hörspiele, Hörbücher, Lesungen, Synchronisationen von Filmen und TV-Serien (für SRF), Moderationen, Gesangsauftritte (Solo und Ensemble).</p>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
