<section class="box">
  <%# KOMMENDE CARD %>
  <h1 class="title-work">Kommende Shows</h1>
  <%= render 'shared/kommende' %>

  <%# JOBS CARD %>
  <%= render 'shared/jobs' %>
  <%= render 'shared/work-vertical-button'%>
</section>
