<section class="box">
  <%# KOMMENDE CARD %>
  <h3 class="title-work">Kommende Shows</h3>
  <%= render 'shared/kommende' %>

  <%# JOBS CARD %>
  <h3 class="title-work">Previous Shows</h3>
  <%= render 'shared/jobs' %>
</section>
