<section class="box">
  <%# KOMMENDE CARD %>
  <h1 class="title-work">Kommende Shows</h1>
  <%= render 'shared/kommende' %>

  <%# JOBS CARD %>
  <h1 class="title-work">Vergangene Shows</h1>
  <%= render 'shared/gigs-list' %>
  </div>

</section>

<%# Footer, sticker guide %>
<%= render 'shared/sticker-guide-footer'%>
