#bg-general {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background: #e3e1db;
  background-image: url(https://res.cloudinary.com/dm4hnoj7v/image/upload/v1692459406/rolf_sommer/noise_cwvoaj.png);
  justify-content: center;
  #main-foto-home {
    width: 100vw;
    object-fit: cover;
    // mix-blend-mode: luminosity;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  #kontakt-foto {
    width: 100%;
    object-fit: cover;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
