.job-button-filter {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  button {
    padding: 15px 20px;
    margin: 0 5px;
    background-color: transparent;
    border-radius: 30px;
    border: transparent;
  }
  .btn-border-active {
    border: solid $blue 0.5px;
  }
}

// FILTERING JOBS BY CATEGORY
.display-list-not {
  display: none;
}

.display-list {
  display: contents;
}
