.job-button-filter {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  button {
    padding: 15px 20px;
    margin: 0 5px;
    background-color: transparent;
    border-radius: 30px;
  }
  .btn-border-active {
    border: solid $blue 0.5px;
  }
  .btn-border-off {
    border: none;
  }
}

// FILTERING JOBS BY CATEGORY
.display-list-not {
  display: none;
}

.display-list {
  display: contents;
}

.jobs-card {
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .job-button-filter {
    padding: 0;
    button {
      padding: 15px 20px;
      margin: 0 5px;
      background-color: transparent;
      border-radius: 30px;
    }
  }
}
