.title-work {
  font-family: $logo-font-light;
  width: fit-content;
  margin: 0 auto;
  padding: 50px 0;
}

.job-button-filter {
  margin: 0 auto;
  padding: 20px 40px;
  width: 90%;
  button {
    padding: 15px 20px;
    margin: 0 5px;
    background-color: transparent;
    border-radius: 30px;
    color: black;
  }
  .btn-border-active {
    color: white;
    border: solid $rosa 1px;
    background-color: $rosa;
  }
  .btn-border-off {
    border: solid gray 1px;
  }
}

@media (max-width: 800px) {
  .job-button-filter {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    width: 100%;
    button {
      font-size: 0.8rem;
      padding: 10px 15px;
      margin: 10px 2px;
      border-radius: 30px;
    }
  }
}
