// Animating back after hover! --- DO NOT DELETE ---
svg {
  transform: rotate(0) scale(1);
  transition: transform ease 0.5s;
}

.kommende-card {
  margin: 0 auto;
  width: 90%;
  border-radius: 20px;
  a {
    // Need this to avoid decoreation on links for toggle
    text-decoration: none;
    color: black;
  }
  .ticket {
    position: absolute;
    z-index: 2;
  }
  .gigs-row {
    position: relative;
    border: solid 0.5px gray;
    padding: 12px 0;
    border-radius: 20px;
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    .piece-title {
      overflow: hidden;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      margin: 0;
      font-family: $logo-font-light;
    }

    .commom-col-kommende {
      background-color: white;
      text-align: center;
      display: inline-block;
      padding: 0 20px;
      margin: 0 5px;
      border: solid 1px;
      border-radius: 20px;
      font-size: 1.2rem;
    }
    .sticker {
      // POSITION
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin: 0;
      // Size
      width: 60px;
      height: 60px;
    }
  }
}

.gigs-row:hover,
.gigs-row:focus {
  // Glass BG
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  border: solid 0.5px;
  .commom-col-kommende {
    background-color: $orange;
    transition: all ease 0.5s;
  }
  // THIS IS POSSIBLE ONLY BY STILING DIRECTLY ON THE SVG FILE: "DIRECTOR-STICKER"
  svg {
    filter: url(#shadow);
    transform: rotate(-20deg) scale(1.5);
    transition: transform ease 0.5s;
  }
}

// *********************************************

@media (max-width: 800px) {
  .kommende-card {
    padding: 10px 15px;
    width: 98%;
    font-weight: 300;
    .gigs-row {
      flex-wrap: wrap;
      .stuck-col {
        font-size: 2rem;
      }
      .commom-col-kommende {
        margin: 0 auto 5px auto;
        width: fit-content;
        text-align: center;
        font-size: 1rem;
      }
      .sticker {
        width: 50px;
        height: 50px;
      }
    }
  }
}
