.nav-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  z-index: 5;
  padding: 20px;
  align-items: baseline;
  h1 {
    text-align: center;
    margin: 0;
    .logo {
      font-family: $logo-font-dark;
      color: $blue;
      font-weight: 400;
      letter-spacing: -3px;
      text-decoration: none;
      white-space: nowrap;
      font-size: 3rem;
    }
  }
  .main-menu {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    button {
      position: relative;
      list-style-type: none;
      font-family: $body;
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0 0.5rem;
      padding: 10px 15px;
      border: solid $blue 0.5px;
      border-radius: 30px;
      background: none;
      a {
        text-decoration: none;
      }
    }
    .active {
      background-color: $orange;
      border-radius: 30px;
    }
  }
}

@media (max-width: 800px) {
  .nav-bar {
    display: block;
    position: sticky;
    .main-menu {
      justify-content: center;
      h2 {
        a {
          letter-spacing: 1px;
        }
      }
    }
  }
}
