.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  z-index: 5;
  padding: 20px;
  align-items: baseline;
  background: linear-gradient(
    180deg,
    rgba(231, 102, 133, 0.4010197829131653) 0%,
    rgba(231, 102, 133, 0) 66%,
    rgba(231, 102, 133, 0) 100%
  );
  .logo-letters {
    text-align: center;
    margin: 0;
    font-family: $logo-font-dark;
    color: $blue;
    font-weight: 400;
    letter-spacing: -3px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 3rem;
  }
  .sun-logo {
    display: block;
    align-self: center;
    animation: rotate 12s linear infinite;
  }
  .main-menu {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    button {
      position: relative;
      list-style-type: none;
      font-family: $body;
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0 0.5rem;
      padding: 10px 15px;
      border: solid $blue 0.5px;
      border-radius: 30px;
      background: none;
      a {
        text-decoration: none;
      }
    }
    .active {
      background-color: $rosa;
      border-radius: 30px;
      button {
        font-style: italic;
      }
    }
  }
}

@media (max-width: 800px) {
  .nav-bar {
    .logo-letters {
      display: none;
    }
    .sun-logo {
      display: block;
    }
    .main-menu {
      justify-content: center;
      a {
        letter-spacing: 1px;
        button {
          padding: 2px 10px;
          margin: 2px;
          font-size: 1rem;
        }
      }
    }
  }
}
