#nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  user-select: none;
  z-index: 5;
  padding: 0 20px;
  align-items: center;
  height: 70px;
  #logo {
    display: flex;
    text-decoration: none;
    .logo-letters {
      text-align: center;
      margin: 0;
      font-family: $logo-font-light;
      white-space: nowrap;
      font-size: 2rem;
      color: black;
    }
    .white-color-font {
      color: white;
      mix-blend-mode: difference;
    }
    #sun-logo {
      display: block;
      width: 40px;
      align-self: center;
      animation: rotate 12s linear infinite;
    }
  }
  .main-menu {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    button {
      position: relative;
      list-style-type: none;
      font-family: $body;
      font-size: 1rem;
      font-weight: 300;
      margin: 0 0.5rem;
      padding: 10px 15px;
      background: none;
      border: none;
      &:hover {
        &::before {
          content: "";
          background: black;
          border-radius: 50%;
          position: absolute;
          width: 7px;
          height: 7px;
          right: 50%;
          bottom: 0;
        }
      }
    }
    .white-color-font {
      color: white;
      mix-blend-mode: difference;
    }
    .active {
      text-decoration: none;
      button {
        position: relative;
        &::before {
          content: "";
          background-color: black;
          border-radius: 50%;
          position: absolute;
          width: 7px;
          height: 7px;
          right: 50%;
          bottom: 0;
        }
      }
    }
  }
  #dropdown-menu {
    display: none;
  }
}

.scrolled {
  /* GLASS BACKGROUND */
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9009978991596639) 100%
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8.7px);
  transition: all ease 1s;
}

@media (max-width: 800px) {
  #nav-bar {
    #logo {
      #sun-logo {
        display: none;
      }
    }
    .main-menu {
      display: none;
    }
    #dropdown-menu {
      display: inline;
      .sun-menu {
        height: 35px;
      }
      #menu-list {
        z-index: -1;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        top: 0;
        left: 0;
        height: 75vh;
        width: 100%;
        animation: slideInDown 0.5s;
        // GLASS BG
        background: rgba(255, 255, 255, 0.8);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.8px);
        -webkit-backdrop-filter: blur(11.8px);
        .link-menu-dropdown {
          position: relative;
          color: black;
          font-weight: 300;
          font-size: 2rem;
          text-decoration: none;
          z-index: 1;
          width: 100%;
          border-bottom: solid 1px gray;
          margin-left: 30px;
        }
        .close-bttn-dropdown {
          z-index: 1;
          margin: 30px 0;
          border: solid 1px;
          padding: 15px 20px;
          border-radius: 50%;
          font-weight: 300;
        }
        #id-link-dropdown::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          margin: 10px 0 0 10px;
          border-radius: 50%;
          background-color: $orange;
        }
        button {
          color: black;
        }
      }
    }
  }
}
