.stickers-row {
  display: flex;
  height: fit-content;

  p {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    font-style: italic;
  }
  img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 800px) {
  .stickers-row {
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px gray;
    p {
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }
}
