.stickers-row {
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 219, 0.415);
  border: solid rgb(162, 162, 162) 1px;
  border-radius: 50px;
  width: fit-content;
  padding: 0 10px;
  height: 1.6rem;
  p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
  }
  span {
    width: 40px;
    height: 40px;
    img {
      position: relative;
      top: -9px;
    }
  }
}

@media (max-width: 800px) {
  .stickers-row {
    p {
      font-size: 0.9rem;
      text-transform: capitalize;
      letter-spacing: -1px;
    }
  }
}
