.stickers-row {
  position: fixed;
  right: -30px;
  width: 10%;
  display: block;
  top: 50%;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  .sticker-1 {
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media (max-width: 800px) {
  .stickers-row {
    right: 0;
    .sticker-1 {
      font-size: 0.8rem;
    }
  }
}
